# Mac Temp File
.DS_Store

# IntelliJ / PyCharm Temp File
.idea/

# Python Temp Files
__pycache__/
*.py[cod]
.ropeproject/


# Eclipse Temp Files
.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
*.launch


